samples/BasicAudio2/xcode/build/*
samples/BasicSample/xcode/build/*
samples/XtractSenderOSC/xcode/build/*
samples/XtractSenderOSCAudio2/xcode/build/*

samples/BasicAudio2/vc2012/Debug/*
samples/BasicAudio2/vc2012/Release/*

samples/BasicSample/vc2012/Debug/*
samples/BasicSample/vc2012/Release/*

samples/XtractSenderOSC/vc2012/Debug/*
samples/XtractSenderOSC/vc2012/Release/*

samples/XtractSenderOSCAudio2/vc2012/Debug/*
samples/XtractSenderOSCAudio2/vc2012/Release/*

*.sdf